@media screen and (max-width: 600px) {
  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .data-blocks {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  .data-blocks {
    width: 25%;
  }
}
